In [99]:
import requests
import pandas as pd
import duckdb
import json
import datamart_profiler
id="datamart.zenodo.3749559.e7fe094d-2f11-4814-ac1a-3326902e063c"
filename=id.replace(".","_").replace("-","_")+".parquet"
resp=requests.get('https://auctus.vida-nyu.org/api/v1/download/'+id)

In [100]:
data=resp.content.decode()
list=[x.split(',') for x in data.split('\n')]

df=pd.DataFrame(list[1:],columns=list[0])

In [101]:
profiles=datamart_profiler.process_dataset(df)
for c in profiles['columns']:
    print(c['name'],c['structural_type'])

/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

country http://schema.org/Text
date http://schema.org/Text
total_cases http://schema.org/Integer
new_cases http://schema.org/Integer
total_deaths http://schema.org/Integer
new_deaths http://schema.org/Integer
total_recovered http://schema.org/Integer
active_cases http://schema.org/Integer
servious_critical http://schema.org/Integer
total_cases_1M_pop http://schema.org/Float
total_deaths_1M_pop http://schema.org/Float
total_tests http://schema.org/Integer
 http://schema.org/Text

/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [68]:
df.to_parquet(filename)
df.to_csv('test_file.csv')

In [69]:
con=duckdb.connect("testdb.db")
res=con.sql(" describe select * from "+filename).fetchdf()
con.sql("select * from "+filename+" where 'Total cases'='81054.0'")

┌─────────┬─────────────┬───────────┬──────────────┬───┬────────────────┬──────────────┬─────────┬─────────┐
│ Country │ Total cases │ New cases │ Total deaths │ … │ Critical cases │ Cases/1M pop │   Lon   │   Lat
   │
│ varchar │   varchar   │  varchar  │   varchar    │   │    varchar     │   varchar    │ varchar │ varchar │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                  0 rows                                                  │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [70]:
df_cpy=df.copy()
df_cpy
profiles=datamart_profiler.process_dataset(df_cpy)
for c in profiles['columns']:
    # print(c['name'],c['structural_type'])
    if "Integer" in c['structural_type']:
        df_cpy[c['name']]=df_cpy[c['name']].fillna(0).astype(float).astype(int)
    elif "Float" in c['structural_type']:
        df_cpy[c['name']]=df_cpy[c['name']].fillna(0).astype(float)
    elif "Text" in c['structural_type']:
        df_cpy[c['name']]=df_cpy[c['name']].fillna("null").astype(str)

/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/spark/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
Unmatched longitude columns: ['Lon']

In [71]:
df_cpy.dtypes

Country             object
Total cases          int64
New cases           object
Total deaths        object
New deaths          object
Total recovered     object
Active cases         int64
Critical cases      object
Cases/1M pop       float64
Lon                float64
Lat\r               object
dtype: object

In [74]:
df_cpy.to_parquet("dummy_p.parquet")

In [85]:
con.sql(" describe select * from yellow.parquet ")

┌───────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│      column_name      │ column_type │  null   │   key   │ default │  extra  │
│        varchar        │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ VendorID              │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ tpep_pickup_datetime  │ TIMESTAMP   │ YES     │ NULL    │ NULL    │ NULL    │
│ tpep_dropoff_datetime │ TIMESTAMP   │ YES     │ NULL    │ NULL    │ NULL    │
│ passenger_count       │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ trip_distance         │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ RatecodeID            │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ store_and_fwd_flag    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ PULocationID          │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ DOLocationID          │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ payment_type          │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ fare_amount           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ extra                 │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ mta_tax               │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ tip_amount            │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ tolls_amount          │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ improvement_surcharge │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ total_amount          │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ congestion_surcharge  │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ airport_fee           │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 19 rows                                                           6 columns │
└─────────────────────────────────────────────────────────────────────────────┘

In [98]:
con.sql(" select * from dummy_p.parquet where \"Total cases\"<500")

┌──────────────────────┬─────────────┬───────────┬───┬──────────────┬───────────────────┬────────────────────┐
│       Country        │ Total cases │ New cases │ … │ Cases/1M pop │        Lon        │        Lat
         │
│       varchar        │    int64    │  varchar  │   │    double    │      double       │      varchar       │
├──────────────────────┼─────────────┼───────────┼───┼──────────────┼───────────────────┼────────────────────┤
│ Qatar                │         481 │ NaN       │ … │        167.0 │        51.2295295 │ 25.3336984
         │
│ Singapore            │         455 │ 23.0      │ … │         78.0 │       103.8194992 │ 1.357107
           │
│ Romania              │         433 │ 66.0      │ … │         23.0 │        24.6859225 │ 45.9852129
         │
│ Slovenia             │         414 │ 31.0      │ … │        199.0 │        14.4808369 │ 45.8133113
         │
│ India                │         396 │ 64.0      │ … │          0.3 │        78.6677428 │ 22.3511148
         │
│ Philippines          │         380 │ 73.0      │ … │          3.0 │       122.7312101 │ 12.7503486
         │
│ Russia               │         367 │ 61.0      │ … │          3.0 │        97.7453061 │ 64.6863136
         │
│ Peru                 │         363 │ 45.0      │ … │         11.0 │       -75.0458515 │ -6.8699697
         │
│ Bahrain              │         332 │ 22.0      │ … │        195.0 │        50.5344606 │ 26.1551249
         │
│ Estonia              │         326 │ 20.0      │ … │        246.0 │        25.3319078 │ 58.7523778
         │
│    ·                 │           · │  ·        │ · │          ·   │             ·     │     ·              │
│    ·                 │           · │  ·        │ · │          ·   │             ·     │     ·              │
│    ·                 │           · │  ·        │ · │          ·   │             ·     │     ·              │
│ Montserrat           │           1 │ NaN       │ … │        200.0 │       -62.1916844 │ 16.7417041
         │
│ Mozambique           │           1 │ 1.0       │ … │         0.03 │        34.9144977 │ -19.302233
         │
│ Papua New Guinea     │           1 │ NaN       │ … │          0.1 │       144.2489081 │ -5.6816069
         │
│ St. Vincent Grenad…  │           1 │ NaN       │ … │          9.0 │       -61.2765569 │ 12.90447
           │
│ Sint Maarten         │           1 │ NaN       │ … │         23.0 │ 4.750547600771222 │ 52.755934499999995
 │
│ Somalia              │           1 │ NaN       │ … │         0.06 │         49.083416 │ 8.3676771
          │
│ Syria                │           1 │ 1.0       │ … │         0.06 │        39.0494106 │ 34.6401861
         │
│ Timor-Leste          │           1 │ NaN       │ … │          0.8 │       125.8375756 │ -8.5151979
         │
│ Uganda               │           1 │ NaN       │ … │         0.02 │        32.2166578 │ 1.5333554
          │
│                      │           0 │ null      │ … │          0.0 │               0.0 │ null               │
├──────────────────────┴─────────────┴───────────┴───┴──────────────┴───────────────────┴────────────────────┤
│ 154 rows (20 shown)                                                                   11 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘