In [21]:
import requests
import pandas as pd
import duckdb
import json
import datamart_profiler
id="datamart.socrata.data-cityofnewyork-us.mebz-ditc"
filename=id.replace(".","_").replace("-","_")+".parquet"
resp=requests.get('https://auctus.vida-nyu.org/api/v1/download/'+id)

In [23]:
data=resp.content.decode()
list=[x.split(',') for x in data.split('\n')]
print(list[1])
df=pd.DataFrame(list[1:],columns=list[0])

['Q', '404', '212529', '"MULTIPOLYGON (((-73.85135102815293 40.743119057237394', ' -73.85155107354161 40.743507227137464', ' -73.85189537501064 40.74417973756411', ' -73.852240975348 40.744840965190676', ' -73.85257733949246 40.745505646842794', ' -73.85292353471159 40.74618194754007', ' -73.8532549322387 40.74682354972136', ' -73.85360568396312 40.74749682832358', ' -73.85378286995368 40.74780299091747', ' -73.8538245081603 40.7478540404083', ' -73.85405453242815 40.748158316410056', ' -73.8543692818276 40.748738929733044', ' -73.85442575297232 40.74885172663069', ' -73.85447011872026 40.74893934802915', ' -73.85128647774219 40.7499295758671', ' -73.85156920176193 40.75051631573224', ' -73.85191598046369 40.75118228188348', ' -73.85226328994843 40.75184803958164', ' -73.85260432606522 40.75254196679495', ' -73.85455552211293 40.75196191810152', ' -73.85583495604043 40.751577272052785', ' -73.8587632499654 40.75071697140798', ' -73.86111707709806 40.75002422786475', ' -73.86175071425981 40.749967590903694', ' -73.8627263385658 40.74986793698596', ' -73.86418475846524 40.74971958735287', ' -73.86655661175509 40.749464148228185', ' -73.86751412982827 40.7493757071376', ' -73.86845757605887 40.749263820730924', ' -73.86942458590592 40.74915685117134', ' -73.87037881236742 40.74906407811683', ' -73.87135648513343 40.74895695035422', ' -73.87143329722186 40.7489488054828', ' -73.87184095867816 40.74890557709539', ' -73.87237256316604 40.74885155161052', ' -73.87257798656702 40.74883178148549', ' -73.87257810618182 40.74883176991123', ' -73.87277356829075 40.74881295826335', ' -73.87330310066463 40.748758124744555', ' -73.87370098289702 40.74871731849191', ' -73.87398293747721 40.748685668318544', ' -73.8744112186145 40.748638145368005', ' -73.87462946324501 40.74861392805401', ' -73.87543236128293 40.7485273599392', ' -73.87555643117996 40.74851360823338', ' -73.87625180240522 40.74843884990315', ' -73.8764795304432 40.748416401565095', ' -73.87691781078152 40.748369710286454', ' -73.87691949723833 40.74836953108667', ' -73.87692458266665 40.74836898901241', ' -73.87729573667933 40.748331524986675', ' -73.87741612513935 40.748319372960246', ' -73.87834312551443 40.74822265979535', ' -73.87845779376075 40.7482148104652', ' -73.87927779933587 40.74812409216957', ' -73.87952678644422 40.74809641913661', ' -73.87983894912949 40.748061723598845', ' -73.88020647877202 40.748024981228184', ' -73.88020659364935 40.748024968740566', ' -73.88031161448144 40.74801395035332', ' -73.88031173291094 40.748013937869274', ' -73.8811374760359 40.74792729339669', ' -73.88124340360329 40.74791624808049', ' -73.88124352203245 40.747916235595504', ' -73.88125078291 40.74791547765056', ' -73.88207112111428 40.74782992673602', ' -73.88256876986529 40.74777784557157', ' -73.88299918326646 40.74773440188229', ' -73.88353558758766 40.74767475022027', ' -73.8839357948883 40.74763024230477', ' -73.88485538535316 40.74753481102646', ' -73.88555992033625 40.7474629548334', ' -73.8857874051645 40.74743975304051', ' -73.88671656237771 40.74734146268448', ' -73.88764663758867 40.747244839772335', ' -73.88778326903532 40.74722892593425', ' -73.88810527954243 40.74719484974716', ' -73.8886107134047 40.74714136236394', ' -73.88867766224224 40.747134277064205', ' -73.88878372151107 40.747122976402075', ' -73.8888821422365 40.7471124886352', ' -73.88888225829466 40.74711247614008', ' -73.88957020416741 40.74703916832119', ' -73.88957128303069 40.74703905319018', ' -73.88957126425005 40.74703895411639', ' -73.88956476426763 40.74700509962468', ' -73.88933070488793 40.74578591066826', ' -73.88925529154983 40.745410560789104', ' -73.88886955240775 40.74339932017799', ' -73.88974416843378 40.74326829045148', ' -73.8897915988319 40.743261185817374', ' -73.889838318219 40.74325444969172', ' -73.89071647521915 40.743127783431014', ' -73.89111026312344 40.745202718372056', ' -73.89139145579604 40.74664100379631', ' -73.89142463091166 40.746810694210346', ' -73.89143128662529 40.74684473604938', ' -73.89149093133447 40.746838567950746', ' -73.8914910331802 40.74683855724062', ' -73.89175048901487 40.74681172673393', ' -73.89232090527291 40.74675274690888', ' -73.89320127745408 40.74666085038566', ' -73.89358819005336 40.74662046055377', ' -73.89440646704438 40.746539281006605', ' -73.89444688838013 40.74653527027782', ' -73.8944551804918 40.7465343647625', ' -73.89445146160807 40.74652826041923', ' -73.89443264044155 40.746497373787754', ' -73.89441894707002 40.746474902589775', ' -73.89441603951707 40.746470131739486', ' -73.89438960703497 40.74642675169197', ' -73.89438506384445 40.74641929583001', ' -73.89438409663086 40.74641770824957', ' -73.89437936802976 40.746409947845954', ' -73.89426813190556 40.746234701658764', ' -73.8941086162577 40.74598339016982', ' -73.89406624001221 40.745914667721195', ' -73.89376457308411 40.74542544328339', ' -73.89373456382354 40.74537729429489', ' -73.89369934403382 40.74532078738428', ' -73.89356824054805 40.745110437489245', ' -73.89352789200375 40.74504570055088', ' -73.89352575446561 40.745042237925425', ' -73.89352031024406 40.74503341602571', ' -73.89350086930244 40.74500191631669', ' -73.89347206558506 40.744955352363604', ' -73.89347162508523 40.74495464055543', ' -73.89344427754116 40.74491042646485', ' -73.89342560891414 40.74488024129719', ' -73.89341083983098 40.74485636148527', ' -73.89341070402254 40.74485614073532', ' -73.89341040760043 40.74485566229163', ' -73.89325147474143 40.74459866339586', ' -73.89298791827235 40.744175945792186', ' -73.89269662949022 40.74371315615684', ' -73.89259532343144 40.743548629066204', ' -73.89250535918055 40.743402518841584', ' -73.89240303739305 40.74323482984428', ' -73.89229969731495 40.74306750000246', ' -73.89228428035871 40.74304353118362', ' -73.89227408112947 40.74302767361205', ' -73.89223255399726 40.74296189140784', ' -73.89223220561641 40.742961339070696', ' -73.89223137077781 40.74295995691095', ' -73.89221504705164 40.742932993046324', ' -73.8921785961994 40.74287278881353', ' -73.89214856673865 40.742823176949095', ' -73.89213391865091 40.742798988204854', ' -73.89213000659224 40.742792527901564', ' -73.89212984009488 40.74279225399133', ' -73.89209407602678 40.74273063477578', ' -73.89193871555625 40.742468727761135', ' -73.89193773317763 40.7424670717064', ' -73.89178455121731 40.74220445691692', ' -73.89178006699642 40.74219676957209', ' -73.89176798629204 40.742176057349866', ' -73.89175217937198 40.742148959726364', ' -73.89174594185124 40.74213826753916', ' -73.89172319139504 40.74209926497697', ' -73.89171007408976 40.74207677777365', ' -73.89170211634234 40.7420631348039', ' -73.89149987967085 40.74171641108595', ' -73.89144495125302 40.74161821749097', ' -73.89142921376964 40.74159008430229', ' -73.89137374495316 40.74148797745581', ' -73.89136878132602 40.741478838023475', ' -73.8913584255758 40.74145977711319', ' -73.89133708259128 40.741420482232655', ' -73.89133675207768 40.74141987317761', ' -73.89131523442431 40.741380253044696', ' -73.8913037360682 40.74135909016627', ' -73.89129921392369 40.74135076880846', ' -73.89098928896246 40.740780230204564', ' -73.89097824173895 40.740759886280294', ' -73.89095861196522 40.740723729416', ' -73.8909453279119 40.74069928065676', ' -73.89093553779904 40.74068126573132', ' -73.8909122240572 40.740638353361895', ' -73.89089140096802 40.7406000134246', ' -73.89087603124459 40.74057171841284', ' -73.89087446254383 40.74056881639056', ' -73.89076664890351 40.74036197558237', ' -73.89074982010648 40.74032969892382', ' -73.89070903049704 40.74025146461843', ' -73.89055476470755 40.73995558230966', ' -73.89054793124401 40.73994250944508', ' -73.89039700804952 40.739653020992705', ' -73.89038588823645 40.73963168638019', ' -73.89038475170707 40.73962950606908', ' -73.89038366238489 40.7396274167542', ' -73.89038253647682 40.73962525716491', ' -73.89038139168834 40.739623059736225', ' -73.89038026814089 40.73962090465167', ' -73.89037913397081 40.73961872974579', ' -73.89037800924397 40.73961657195856', ' -73.89037684320898 40.7396143357878', ' -73.89037564531041 40.73961203745169', ' -73.89037440846562 40.73960966433625', ' -73.89037313621299 40.73960722454954', ' -73.89036699447553 40.73959544185941', ' -73.89032633679012 40.73951744436874', ' -73.89031488420278 40.739495474573864', ' -73.89029377644258 40.73945500635007', ' -73.89026709593448 40.73940379965725', ' -73.89024349453564 40.739358523936794', ' -73.89023588351077 40.73934392304978', ' -73.89019668837943 40.7392687310863', ' -73.8901758652278 40.73922878360448', ' -73.89015854133979 40.73919554824123', ' -73.89015811175274 40.739194724767124', ' -73.8901532942536 40.739185482760554', ' -73.8901526109303 40.739184170969075', ' -73.89013230357027 40.739145212728666', ' -73.890113843211 40.73910979884553', ' -73.89010927356257 40.73910103164131', ' -73.89007301971603 40.73903148052047', ' -73.89004710780152 40.7389817711514', ' -73.89001985997311 40.73892949765435', ' -73.88999494538389 40.738881700103356', ' -73.8899790921672 40.738851285606955', ' -73.88997397613534 40.738841470584056', ' -73.889970475756 40.73883475485241', ' -73.88996762328769 40.73882928334138', ' -73.88996436838264 40.73882303971034', ' -73.88996098130025 40.73881654200963', ' -73.88995772049627 40.738810286666116', ' -73.88995724607004 40.73880937579909', ' -73.88995380588582 40.73880277358845', ' -73.88995177718152 40.73879887965387', ' -73.88994955846965 40.738794621732396', ' -73.88994721465986 40.738790124156154', ' -73.8899447917786 40.73878547521894', ' -73.88994230753103 40.738780707356', ' -73.88994100344726 40.7387782053987', ' -73.88993979495936 40.738775885435395', ' -73.88993723754098 40.73877097792363', ' -73.88993416084891 40.738765074854044', ' -73.88992817033333 40.73875357864505', ' -73.88990959218756 40.73871793048236', ' -73.88990810754935 40.73871507715395', ' -73.88974761089702 40.73840703537923', ' -73.88973852019093 40.738389587434824', ' -73.88973679954486 40.73838627641991', ' -73.8897366000861 40.738385901617534', ' -73.88973573149596 40.73838423394528', ' -73.88973556035094 40.7383839195041', ' -73.88973516028085 40.73838315098758', ' -73.88973484045952 40.73838253743531', ' -73.88973461387248 40.738382101372416', ' -73.88973439908422 40.73838168963452', ' -73.88973422088351 40.73838134637031', ' -73.88973404032095 40.738380999501764', ' -73.8897338125545 40.7383805607362', ' -73.88973322837916 40.73837943994473', ' -73.88973197742106 40.73837703799219', ' -73.88972290326345 40.73835961077402', ' -73.88971189602879 40.738338471610206', ' -73.88970320895498 40.73832179668538', ' -73.88968649688813 40.73828971448286', ' -73.88967431186178 40.73826633192167', ' -73.88965983499129 40.73823855628541', ' -73.88965913988426 40.738237222867276', ' -73.8896584660203 40.7382359299924', ' -73.88965766823964 40.73823440016513', ' -73.88965670877988 40.73823255950761', ' -73.88965576938075 40.73823075849169', ' -73.8896551214806 40.738229515169586', ' -73.88965508253735 40.738229439489594', ' -73.88965458687342 40.73822848987905', ' -73.88965409710659 40.73822755378175', ' -73.88965359081303 40.73822658885237', ' -73.889650118782 40.73821995148175', ' -73.88961997635722 40.73816231978805', ' -73.88932414292617 40.73759668688944', ' -73.88903989857317 40.73705247933703', ' -73.88901694893372 40.73700853762952', ' -73.88897893404948 40.73693575071912', ' -73.88890084607272 40.73678503026825', ' -73.888871105916 40.736727614875846', ' -73.88886516662227 40.73671614927467', ' -73.88885963917706 40.73670547741854', ' -73.88885419433852 40.736694965031816', ' -73.88884880614101 40.73668456436254', ' -73.88884353241532 40.73667438262703', ' -73.88883839793976 40.736664469377146', ' -73.88883364934621 40.736655302120504', ' -73.88883043484348 40.73664909541515', ' -73.888828182096 40.73664474558593', ' -73.88882636125261 40.73664123004438', ' -73.88882474220003 40.73663810461776', ' -73.88882139434878 40.73663164203904', ' -73.8888190188756 40.73662705525745', ' -73.88881708592804 40.73662332258501', ' -73.88881586456047 40.736620963874834', ' -73.88881582797627 40.736620894500376', ' -73.88881482492074 40.73661895743888', ' -73.88880438723504 40.736598807490736', ' -73.88880228908143 40.73659475497805', ' -73.88877255500482 40.7365373449674', ' -73.88877254924331 40.73653725040845', ' -73.88877235085013 40.73653695304906', ' -73.88877068442928 40.73653454798262', ' -73.8887710693025 40.736534478114656', ' -73.88874205864995 40.73647846908494', ' -73.88873091453168 40.736457435948935', ' -73.88872271960119 40.73644196990313', ' -73.88870997639846 40.736417919417114', ' -73.88870359300101 40.736405870748946', ' -73.88869654990432 40.73639257784067', ' -73.88868896158579 40.73637825512377', ' -73.88868492549801 40.736370637423754', ' -73.88868130127908 40.736363798160994', ' -73.88867767234196 40.73635694898796', ' -73.88867395843684 40.73634993854171', ' -73.88867013595886 40.73634272357491', ' -73.88866644211633 40.7363357518696', ' -73.8886626278999 40.736328553119705', ' -73.88865898716412 40.73632168232242', ' -73.8886529719879 40.736310329199796', ' -73.88864732619726 40.73629967342751', ' -73.88864031026448 40.73628643277131', ' -73.88863989249637 40.7362856435219', ' -73.88863401632358 40.736273291868756', ' -73.88862808588506 40.73626082669874', ' -73.88862248341017 40.73624905073457', ' -73.88858120282572 40.73616228013205', ' -73.88858095618843 40.73616180802699', ' -73.88852260872798 40.73604985167685', ' -73.88851620810777 40.73603681692418', ' -73.88851580814124 40.73603600337782', ' -73.88851540227951 40.73603517541763', ' -73.88851506366403 40.73603448710136', ' -73.8885147427476 40.736033833922', ' -73.88851438997557 40.73603311587522', ' -73.88851404192393 40.7360324068381', ' -73.88851369859266 40.73603170681066', ' -73.88851334346195 40.736030983358575', ' -73.8885110203621 40.73602625253955', ' -73.88842972504112 40.73586070717356', ' -73.88840275175603 40.73580577793506', ' -73.88839608807982 40.7357922080182', ' -73.88837834227643 40.735756072323206', ' -73.88837003275084 40.73573915091777', ' -73.8883633537492 40.73572555036675', ' -73.88835352933422 40.735705544150335', ' -73.88835240260224 40.735703248562274', ' -73.88832577512912 40.735649025638374', ' -73.88831529947416 40.73562769323835', ' -73.88829726942485 40.73559097642626', ' -73.8882958548191 40.73558809522784', ' -73.88829442959211 40.73558519420788', ' -73.88829299139122 40.735582264359024', ' -73.8882915944817 40.73557942009855', ' -73.88829017279447 40.73557652628606', ' -73.88828877352809 40.73557367571966', ' -73.88828747690323 40.73557103597187', ' -73.88828621095587 40.735568457488384', ' -73.88828428902694 40.73556454381485', ' -73.88828282368905 40.735561559909065', ' -73.88827390188361 40.735543392498876', ' -73.888040067767 40.73505036838529', ' -73.88802033795031 40.73500876911734', ' -73.88781259071743 40.73454610350027', ' -73.88778309532826 40.73447946323469', ' -73.88775926672858 40.734425626513705', ' -73.88775802016661 40.73442280940805', ' -73.88775743757375 40.73442149229647', ' -73.88775615916691 40.734418604920116', ' -73.88775430288759 40.73441440944181', ' -73.88775244188686 40.73441020585433', ' -73.88775061391061 40.734406075240166', ' -73.88774904067027 40.73440252119987', ' -73.88773743125236 40.73437629157234', ' -73.88772268480713 40.734342972782066', ' -73.88769942474589 40.73429041982682', ' -73.88769921836419 40.73428995226152', ' -73.88767618123563 40.73423790200242', ' -73.88766728316327 40.7342177975705', ' -73.8876647075016 40.73421197687119', ' -73.88765954612798 40.7341999779606', ' -73.88765802377443 40.73419644017771', ' -73.88765640473017 40.734192675372306', ' -73.88765343431932 40.73418576917461', ' -73.88765116671475 40.73418049628483', ' -73.88764909839458 40.73417568735136', ' -73.88764673881082 40.73417020185167', ' -73.88764417758341 40.73416424789061', ' -73.88764269061103 40.73416079028736', ' -73.88764154324795 40.734158122761556', ' -73.88753092987149 40.733900948354496', ' -73.88751876330558 40.73387176088798', ' -73.88736336842572 40.733498990170084', ' -73.88735376050148 40.733475941254085', ' -73.88718624567507 40.73304980687036', ' -73.88700472281946 40.73258802983562', ' -73.88682153344536 40.73212200764658', ' -73.88653919143346 40.731334450768784', ' -73.88645652756644 40.73109391714959', ' -73.88642789684671 40.73101060622937', ' -73.88640755878427 40.73095142541993', ' -73.88636118516439 40.730816486996794', ' -73.88635325541122 40.73079341262891', ' -73.88634507046123 40.73076935645353', ' -73.88632584544946 40.73071285393989', ' -73.88632515051441 40.73071081089912', ' -73.88632056746044 40.73069734736468', ' -73.8863107311522 40.73066845382198', ' -73.88630948026868 40.73066477760901', ' -73.88628812808014 40.73060204236498', ' -73.88628810452329 40.73060197300249', ' -73.88628806916418 40.73060188291667', ' -73.88628695376387 40.73059858865312', ' -73.8862678383884 40.730542409519465', ' -73.88626693379614 40.73053975212392', ' -73.8862494709802 40.7304884283635', ' -73.88624906933268 40.73048724829968', ' -73.8861937222811 40.73032459406762', ' -73.88610183900352 40.73005456206927', ' -73.88608838106752 40.73001501189799', ' -73.88586318180103 40.72929772234611', ' -73.8858524435176 40.7292635175606', ' -73.88579214284174 40.72907145296234', ' -73.88579149240496 40.72906902094192', ' -73.88572266482176 40.728811875233475', ' -73.88572247428256 40.72881116094039', ' -73.88572132162068 40.7288068499584', ' -73.88571409276422 40.72877982750146', ' -73.88569995618883 40.728726970676675', ' -73.88568553602181 40.72867314371956', ' -73.88567864238843 40.7286473850074', ' -73.88567814015296 40.72864551054862', ' -73.88567679341514 40.72864048076687', ' -73.88567039494279 40.72861658389876', ' -73.88565044176585 40.728535354343194', ' -73.88565019255357 40.72853434192308', ' -73.88564606173401 40.7285175658324', ' -73.88564113399218 40.728497502991004', ' -73.88563970104163 40.72849167076916', ' -73.88563021463267 40.72845307451713', ' -73.885630120615 40.72845267819958', ' -73.88562645533956 40.728437778331525', ' -73.8856262543267 40.72843696046927', ' -73.88562324500636 40.72842471955658', ' -73.88562312746895 40.72842423316472', ' -73.88562251611361 40.72842179757988', ' -73.88562187200057 40.728419136835136', ' -73.88561495294901 40.72839097553375', ' -73.88560694538614 40.72835838174335', ' -73.88560334831767 40.72834374939345', ' -73.88559159202967 40.7282959251627', ' -73.8855914580613 40.728295356808104', ' -73.88558828180837 40.72828245025188', ' -73.88558658790149 40.72827555787026', ' -73.8850072950054 40.728371895439544', ' -73.88470794125719 40.72839722819867', ' -73.88444917124181 40.72841912674746', ' -73.88391980357927 40.72846391334542', ' -73.88387642556643 40.72846758240819', ' -73.88353321198508 40.72849744786484', ' -73.88297543357328 40.7285409505744', ' -73.88208519952711 40.72861037577589', ' -73.88172301811626 40.72863525370489', ' -73.88130917725015 40.728680825896305', ' -73.8808979370365 40.72874131172779', ' -73.88088484659767 40.728743730463094', ' -73.88049068247258 40.7288165424682', ' -73.88008877503057 40.72890627463898', ' -73.87969354088214 40.72901015848265', ' -73.87847478502546 40.7294689219426', ' -73.87836629228461 40.7295158860236', ' -73.87789402697081 40.72971592964003', ' -73.8769972421981 40.73004835276673', ' -73.87628302428674 40.73031309380777', ' -73.87538647276529 40.73059067261718', ' -73.87519893874739 40.73064197955349', ' -73.87513741313299 40.73065881271375', ' -73.8750915413072 40.730671362890455', ' -73.87507797855346 40.730675357245154', ' -73.87501575047486 40.7306936826228', ' -73.87481298990886 40.730753393965756', ' -73.87415476523967 40.73095008614424', ' -73.87399635890576 40.73099666375898', ' -73.87398068479766 40.730999077981764', ' -73.87392672287149 40.731017138962414', ' -73.87315527170546 40.73124397022368', ' -73.8719205839857 40.73161392764248', ' -73.871498007142

ValueError: 7 columns passed, passed data had 59636 columns

In [20]:
df.columns

NameError: name 'df' is not defined

In [12]:
profiles=datamart_profiler.process_dataset(df)
for c in profiles['columns']:
    dtypes=[]
    dtypes.append(c['structural_type'].split('/')[-1])
    for s in c['semantic_types']:
        dtypes.append(s.split('/')[-1])
    print(c['name'],dtypes)

/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
Unmatched longitude columns: ['Lon']

Country ['Text']
Total cases ['Integer']
New cases ['Text']
Total deaths ['Text']
New deaths ['Text', 'Enumeration']
Total recovered ['Text']
Active cases ['Integer']
Critical cases ['Text']
Cases/1M pop ['Float']
Lon ['Float']
 ['Text']

In [13]:
df.to_parquet(filename)
df.to_csv('test_file.csv')

In [14]:
con=duckdb.connect("testdb.db")
con.sql(" describe select * from "+filename).fetchdf()

        column_name column_type null  key default extra
0           Country     VARCHAR  YES  NaN     NaN   NaN
1       Total cases     VARCHAR  YES  NaN     NaN   NaN
2         New cases     VARCHAR  YES  NaN     NaN   NaN
3      Total deaths     VARCHAR  YES  NaN     NaN   NaN
4        New deaths     VARCHAR  YES  NaN     NaN   NaN
5   Total recovered     VARCHAR  YES  NaN     NaN   NaN
6      Active cases     VARCHAR  YES  NaN     NaN   NaN
7    Critical cases     VARCHAR  YES  NaN     NaN   NaN
8      Cases/1M pop     VARCHAR  YES  NaN     NaN   NaN
9               Lon     VARCHAR  YES  NaN     NaN   NaN
10            Lat\r     VARCHAR  YES  NaN     NaN   NaN

In [16]:
df_cpy=df.copy()
df_cpy
profiles=datamart_profiler.process_dataset(df_cpy)
for c in profiles['columns']:
    dtypes=[]
    dtypes.append(c['structural_type'].split('/')[-1])
    for s in c['semantic_types']:
        dtypes.append(s.split('/')[-1])
    try:
        if "DateTime" in dtypes:
            df_cpy[c['name']] = pd.to_datetime(df_cpy[c['name']], format='%Y-%m-%d')
        elif "Integer" in dtypes:
            df_cpy[c['name']]=df_cpy[c['name']].fillna(0).astype(float).astype(int)
        elif "Float" in dtypes:
            df_cpy[c['name']]=df_cpy[c['name']].fillna(0).astype(float)
        elif "Text" in dtypes:
            df_cpy[c['name']]=df_cpy[c['name']].fillna("null").astype(str)
    except:
        pass

/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/home/aromston/software/anaconda3/envs/auctus/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
Unmatched longitude columns: ['Lon']

In [25]:
df

,Country,Total cases,New cases,Total deaths,New deaths,Total recovered,Active cases,Critical cases,Cases/1M pop,Lon,Lat\r
0,China,81054.0,46.0,3261.0,6.0,72440.0,5353.0,1845.0,56.0,104.999927,35.000074\r
1,Italy,59138.0,5560.0,5476.0,651.0,7024.0,46638.0,3000.0,978.0,12.674297,42.6384261\r
2,USA,38757.0,14550.0,400.0,98.0,178.0,38179.0,795.0,117.0,-100.4458825,39.7837304\r
3,Spain,28603.0,3107.0,1756.0,375.0,2125.0,24722.0,1785.0,612.0,-4.8380649,39.3262345\r
4,Germany,24806.0,2442.0,93.0,9.0,266.0,24447.0,2.0,296.0,10.4234469,51.0834196\r
...,...,...,...,...,...,...,...,...,...,...,...
187,Somalia,1.0,NaN,NaN,NaN,NaN,1.0,NaN,0.06,49.083416,8.3676771\r
188,Syria,1.0,1.0,NaN,NaN,NaN,1.0,NaN,0.06,39.0494106,34.6401861\r
189,Timor-Leste,1.0,NaN,NaN,NaN,NaN,1.0,NaN,0.8,125.8375756,-8.5151979\r
190,Uganda,1.0,NaN,NaN,NaN,NaN,1.0,NaN,0.02,32.2166578,1.5333554\r
191,,None,None,None,None,None,None,None,None,None,None

In [49]:
import duckdb
con=duckdb.connect("play.db")
con.sql("install 'httpfs';")
con.sql("load 'httpfs';")
con.sql("SET s3_url_style='path';")
con.sql(" SET s3_endpoint='localhost:8050'")
con.sql("SET s3_use_ssl=false;")
con.sql("SET s3_access_key_id='devkey';")
con.sql("SET s3_secret_access_key='devpassword';")
con.sql("select * from read_parquet('s3://auctus-bucket/df.parquet');")

['TIMESTAMP', 'BIGINT', 'BIGINT']